<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data processor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Data processor</a>
        </div>
    </div>
</nav>


<div class="container" style="min-height: 500px">
	<div class="starter-template">
        <h1>CSV data import processor application</h1>

		<div class="content" style="padding-top: 50px;">
			<div class="row">
				<div class="col-md-6" style="border-color: #ddd; border-width: 1px; border-radius: 4px 4px 0 0;">
					<h4>Import form</h4>
					
					<hr/>
					
			        <form class="form-horizontal" id="upload-form">
			            <div class="form-group form-group-sm">
			                <label class="col-sm-3 control-label">File for upload</label>
			                <div class="col-sm-6">
			                    <input type="file" name="uploadField" class="form-control" id="uploadField"/>
			                </div>
			            </div>
			
			            <div class="form-group">
			                <div class="col-sm-offset-2 col-sm-7">
			                    <button type="submit" id="uploadButton"
			                            class="btn btn-primary btn-sm pull-right">Upload
			                    </button>
			                </div>
			            </div>
			        </form>
			        
			        <form class="form-horizontal" id="search-form">
			            <div class="form-group form-group-sm">
			                <label class="col-sm-3 control-label">Search by name</label>
			                <div class="col-sm-6">
			                    <input type="text" class="form-control" id="searchField"/>
			                </div>
			            </div>
			
			            <!-- <div class="form-group">
			                <div class="col-sm-offset-2 col-sm-10">
			                    <button type="submit" id="bth-search"
			                            class="btn btn-primary btn-lg">Search
			                    </button>
			                </div>
			            </div> -->
			        </form>
				</div>
				<div class="col-md-6">
					<div id="feedback"></div>
				</div>
			</div>
	    </div>
	
		<div style="padding-top: 50px;">
			<table id="personData" class="table table-striped" style="display:none;" >
				<thead id="tableHeader">
		    		<tr>
		      			<th>Id</th>
		      			<th>Name</th>
		      			<th>Age</th>
		      			<th>Address</th>
		      			<th>Team</th>
		    		</tr>
		  		</thead>
		  		<tbody>
		  		</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
    <footer>
        <p>
            © <a href="#">Veiko Samma</a> 2017
        </p>
    </footer>
</div>

    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script src="fileUpload.js"></script>

</body>
</html>